@charset "ISO-8859-1";
body {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h2 {
    color: #0f0424;
}

p {
    color: #0f0424;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 300px;
    padding: none;
     padding-right: none;
}

.form-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.search-field {
    margin-bottom: 15px;
}

.label-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: #0f0424;
}

.input-container {
    position: relative;
}

input,
select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 20px);
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #555;
}

.button-container {
    grid-column: span 4;
    position: relative;
}

button {
    width: 100%;
    padding: 15px;
    background-color: skyblue !important;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: green;
    color: #fff;
}

.logo {
    max-width: 300px;
    margin-bottom: px;
    border-bottom: 2px solid #ccc;
}



.result-box {
    display: flex;
    flex-direction: row;
    /* Set the flex direction to row */
}

.search-result {
    display: flex;
    flex-wrap: nowrap;
    /* Ensure that flex items do not wrap to the next line */
}

.search-result p {
    margin-right: 20px;
    /* Add some space between the paragraphs if needed */
    white-space: nowrap;
    /* Prevent text from wrapping to the next line */
}





.search-field input {
    width: 100%;
}

.search-field input[name="empId"],
.search-field input[name="dept"],
.search-field input[name="empName"],
.search-field input[name="manager"],
.search-field input[name="client"],
.search-field select[name="project"],
.search-field select[name="status"],
.search-field select[name="allocation"] {
    width: calc(100% - 20px);
    /* Adjust the width as needed */
}

.horizontal-line {
    margin-top: 20px;
    /* Adjust margin as needed */
}


.search-icon::after {
    content: "\1F50D";
    /* Unicode for the magnifying glass icon */
    font-size: 20px;
    position: absolute;
    /* top: 50%; */
    transform: translateY(-65%);
    right: 5px;
    color: #555;
    cursor: pointer;
}

hr {

  
    /* Adjust margin as needed */
}
.home{ 
          margin-left:90%;
          margin-top:20px;
          display: flex;
          flex-direction: row;
        }
  .home{ 
          margin-right:90%;
          display: flex;
          flex-direction: row;
          
        }