<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>webpage</title>
<link rel="stylesheet" href="/css/History.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
	<div class="header">
		<img src="https://www.ldtech.in/images/logo.png" alt="logo_comp"
			class="headerlogo">
	</div>
	<div class="header_text">
		<h3 id="header-text">History</h3>
	</div>
	<div class="maincontainerbox">
		<div class="sbmaincontainer_1">
			<div class="table">
				<div>
					<div class="input-div">
						<label>Search By Emp Id:</label>
						<form class="example" action="action_page.php">
							<input type="text" placeholder="Search.." name="search" />
							<button type="submit">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>
					<div class="input-div">
						<label>Search By Emp Name:</label>
						<form class="example" action="action_page.php">
							<input type="text" placeholder="Search.." name="search" />
							<button type="submit">
								<i class="fa fa-search"></i>
							</button>
						</form>
					</div>
				</div>
				<div>
					<div class="input-date-div">
						<label> From Date:</label> <input type="date"
							class="leftside_inputbox" />
					</div>

					<div class="input-date-div">
						<label>To Date:</label> <input type="date"
							class="rightside_inputbox" />
					</div>
				</div>

			</div>
		</div>
	</div>
	<br>
	<br>
	<hr>
	<table>
		<colgroup>
			<col style="width: 10%;" class="table_headings">
			<col style="width: 10%;" class="table_headings">
			<col style="width: 10%;" class="table_headings">
			<col style="width: 10%;" class="table_headings">
			<col style="width: 10%;" class="table_headings">
			<col style="width: 10%;" class="table_headings">
			<col style="width: 10%;" class="table_headings">
			<col style="width: 10%;" class="table_headings">
			<col style="width: 10%;" class="table_headings">
			<col style="width: 10%;" class="table_headings">
		</colgroup>
		<thead>
			<tr>
				<th class="table_headings">Employee ID</th>
				<th class="table_headings">Employee Name</th>
				<th class="table_headings">Project</th>
				<th class="table_headings">Project Allocation</th>
				<th class="table_headings">Client</th>
				<th class="table_headings">Manager</th>
				<th class="table_headings">Department</th>
				<th class="table_headings">Status</th>
				<th class="table_headings">Allocation Start Date</th>
				<th class="table_headings">Allocation End Date</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="marginset">rlkbggnb</td>
				<td class="marginset">ethgtegh</td>
				<td class="marginset">teetgh</td>
				<td class="marginset">rtgerg</td>
				<td class="marginset">ergerg</td>
				<td class="marginset">rgerg</td>
				<td class="marginset">reger</td>
				<td class="marginset">ergerger</td>
				<td class="marginset">rlkbgg</td>
				<td class="marginset">rlkbgk</td>
			</tr>
			<tr>
				<td class="marginset">rlkbggnbrlkbggnbrlkbggnbrlkbggnbrlkbggnbrlkbgg</td>
				<td class="marginset">ethgtegh</td>
				<td class="marginset">teetgh</td>
				<td class="marginset">rtgerg</td>
				<td class="marginset">ergerg</td>
				<td class="marginset">rgerg</td>
				<td class="marginset">reger</td>
				<td class="marginset">ergerger</td>
				<td class="marginset">rlkbgg</td>
				<td class="marginset">rlkbgk</td>
			</tr>
			<tr>
				<td class="marginset">rlkbggnb</td>
				<td class="marginset">ethgtegh</td>
				<td class="marginset">teetgh</td>
				<td class="marginset">rtgerg</td>
				<td class="marginset">ergerg</td>
				<td class="marginset">rgerg</td>
				<td class="marginset">reger</td>
				<td class="marginset">ergerger</td>
				<td class="marginset">rlkbgg</td>
				<td class="marginset">rlkbgk</td>
			</tr>
		</tbody>
	</table>
	<div class="button-div">
		<a href="/getHome"><button type="button" class="backbutton">Back</button></a>
	</div>
</body>

</html>