<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/Login.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!-- Include jQuery before your script -->

</head>
<body>

    <center>
        <!-- Banner Start -->
        <div id="banner">
            <h2 id="title">
                LDTECH
            </h2>
            <h5 id="subtitle">
                Innovate. Transform. Thrive.
            </h5>
        </div>
        <!-- Banner End -->
        <!-- Body Start -->
        <h1 id="bodymessage1">
            Log In
        </h1>
        <div id="line">
        </div>
        <form id="myForm">
        <input id="username"  name="admin_id" type="text" placeholder="Enter your username" required/>
        <br>
        <br>
        <input id="password" type="password"  name="password" placeholder="Enter your password" required />
        <br>
        <a href="#" onclick="forgotPassword()" id="forgetyourpassword">
            Forgot your password?
        </a>
        <br>
        <br>
        <button id="loginbutton" type="submit">
            Log In
        </button>
        
        </form>
        <!-- Banner End -->
        <!-- Footer Start -->
        <div id="footer">
            <h4 id="footertitle">
                LDTECH ©
            </h4>
            <h4 id="footercontent">
                Expert Our belief is that if you get the CULTURE right , Most of the other stuff will happen on it's own
                <br>
                 Contact us at www.ldtech.in or call +91-9938509222 or 
                 DCB 207 & 208-DLF Cybercity, Bhubaneswar , Odisha, 751024 
                <!-- <br>
                Founded in 2016 -->
            </h4> 
        </div>
        <!-- Footer End -->
    </center>
 
    <script>
        $(document).ready(function(){
        	
          $("#myForm").submit(function(event){
        	  event.preventDefault();
  	        console.log("hi");
  	        var formData = $(this).serialize();

              // Send the form data using AJAX
              $.ajax({
                  type: "POST", // Change to "GET" if your server expects a GET request
                  url: "http://localhost:8080/check", // Replace with the path to your server-side script
                  data: formData,
                  success: function(response) {
                      // Handle the server response (success message, error message, etc.)
                      var str="Login suceessfull !"
                      console.log(response);
                     
                     if(response==str){
                      alert(response);
                     location.href="/getHome"
                     }
                     else{
                    	 alert("please Enter correct credentials !");
                     }
                     // alert(response);
                      // You can update the UI or show a message to the user based on the response
                  },
                  error: function(error) {
                      console.error("Error submitting the form:", error);
                  } 
          });
        		
          });	
        });
        
        function forgotPassword() {
            var email = prompt("Enter your email:");
 
            // Make a POST request to the forgot-password endpoint
            fetch('http://localhost:8080/forgot-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `email=${email}`
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>