<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="/css/reset.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <h2>Reset Password Form</h2>
    
    <form id="resetPasswordForm" th:action="@{/reset-password}" th:method="put">
      <!--  <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required>

        <!-- Include the resetToken in a hidden input field 
       <input type="hidden" id="resetToken" name="resetToken" th:value="${token}">
        <br>
        <button type="button" onclick="resetPassword()">Reset Password</button>
        <a href="/getPage">Back to login</a>-->
        
            <div class="form-group">
                <label for="new-password">New Password</label>
                <input type="password" id="new-password" name="new-password" required>
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm New Password</label>
                <input type="password" id="confirm-password" name="confirm-password" required>
            </div>
             <input type="hidden" id="resetToken" name="resetToken" th:value="${token}">
              <br>
            <div>
                <button type="button" class="btn" onclick="resetPassword()">Reset</button>
                <button type="button" class="btn btn-cancel">Cancel</button>
            </div>
             <a href="/getPage">Back to login</a>
    </form>
</div>
    <script>
        function resetPassword() {
            var newPassword = document.getElementById('new-password').value;
            var resetToken = document.getElementById('resetToken').value;
            console.log(newPassword);
            // Make a POST request to the reset-password endpoint
            fetch('http://localhost:8080/reset-password?resetToken='+resetToken+'&newPassword='+newPassword, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
               // body: `token=${resetToken}&newPassword=${newPassword}`
            })
            .then(response => response.text())
            .then(data => alert(data))
            .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>